In [ ]:

number = float(input("Enter a number: "))
# Perform operations

result = (((number + 3) * 2) - 4) + 3

print("The final result is:", result)

Enter a number: 6
The final result is: 17.0

In [ ]:
# Get user input for Celsius
celsius = float(input("Enter temperature in Celsius: "))

# Convert Celsius to Fahrenheit
fahrenheit = (celsius * 1.8) + 32

# Print the result
print(f"The temperature in Fahrenheit is: {fahrenheit}")

Enter temperature in Celsius: 40
The temperature in Fahrenheit is: 104.0

In [ ]:
import math
radius = float(input("Enter value of radius"))
area = math.pi * (radius ** 2)
print(f"The area of the cirle is: {area}")

Enter value of radius2.0
The area of the cirle is: 12.566370614359172

In [ ]:
# Store a person's name with whitespace characters
name = "\t\n  Ayesha  \n\t"

# Print the name with the whitespace displayed
print("Original name with whitespace:")
print(f"'{name}'")  # Using single quotes to highlight the whitespace

# Use lstrip() to remove leading whitespace
print("\nName after using lstrip():")
print(f"'{name.lstrip()}'")

# Use rstrip() to remove trailing whitespace
print("\nName after using rstrip():")
print(f"'{name.rstrip()}'")

# Use strip() to remove both leading and trailing whitespace
print("\nName after using strip():")
print(f"'{name.strip()}'")

Original name with whitespace:
'
  Ayesha
	'

Name after using lstrip():
'Ayesha
	'

Name after using rstrip():
'
  Ayesha'

Name after using strip():
'Ayesha'

In [ ]:
number=int(input('Enter a number to create multiplication table:'))
print(f"\nMultiplication table for {number}:\n")
for i in range(1,11):
  result= number*i
  print(f"{number} x {i} = {result}")

Enter a number to create multiplication table:6

Multiplication table for 6:

6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

In [ ]:
# Get user input for the number
number = int(input("Enter a number to create its multiplication table: "))

# Print the multiplication table from 1 to 10
print(f"\nMultiplication table for {number}:\n")
for i in range(1, 11):  # Loop from 1 to 10
    result = number * i
    print(f"{number} x {i} = {result}")

Enter a number to create its multiplication table: 6

Multiplication table for 6:

6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

In [ ]:
def describe_city(city, country='Pakistan'):
    """Print a simple sentence describing a city and its country."""
    print(f"{city} is in {country}.")

# Call the function for three different cities
describe_city('Islamabad')           # Default country
describe_city('Lahore')              # Default country
describe_city('Istanbul', 'Turkey')     # Different country

Islamabad is in Pakistan.
Lahore is in Pakistan.
Istanbul is in Turkey.

In [ ]:
def absolute_num(num):
    """Return the absolute value of the entered number."""
    if num < 0:
        return -num  # Return the positive equivalent of the negative number
    else:
        return num  # Return the number as is if it's already positive

# Example usage
print(absolute_num(10))
print(absolute_num(-20))
print(absolute_num(30))

10
20
30

In [ ]:
# Get user input for the alphabet
alphabet = input("Enter an alphabet: ").lower()  # Convert to lowercase for uniformity

# Check if the input is a single alphabet
if len(alphabet) != 1 or not alphabet.isalpha():
    print("Please enter a single alphabet.")
else:
    # Check if the alphabet is a vowel
    if alphabet in 'aeiou':
        print(f"{alphabet} is a vowel.")
    else:
        print(f"{alphabet} is a consonant.")

Enter an alphabet: t
t is a consonant.

In [ ]:
def is_prime(number):
    """Check if a number is prime."""
    if number <= 1:
        return False  # Numbers less than or equal to 1 are not prime
    for i in range(2, int(number**0.5) + 1):  # Check divisibility up to the square root of the number
        if number % i == 0:
            return False  # If divisible by any number other than 1 and itself, it's not prime
    return True  # If no divisors found, it's prime

# Get user input
num = int(input("Enter a number to check if it is prime: "))

# Check if the number is prime and print the result
if is_prime(num):
    print(f"{num} is a prime number.")
else:
    print(f"{num} is not a prime number.")

Enter a number to check if it is prime: 20
20 is not a prime number.

In [ ]:
for number in range(7):  # Loop from 0 to 6
    if number == 3 or number == 6:  # Check if the number is 3 or 6
        continue  # Skip the rest of the loop for these numbers
    print(number)  # Print the number if it is not 3 or 6

0
1
2
4
5

In [ ]:
# Number of rows for the pattern
rows = 5

# Outer loop for each row
for i in range(1, rows + 1):
    # Inner loop for printing the number 'i', 'i' times
    for j in range(i):
        print(i, end=' ')  # Print the number with a space but stay on the same line
    print()  # Move to the next line after printing each row

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [ ]:
# Set the value for the variable age
age = 40  # You can change this value to test different stages of life

# Determine the stage of life using if-elif-else statements
if age < 2:
    print("The person is a baby.")
elif age >= 4 and age < 13:
    print("The person is a kid.")
elif age >= 13 and age < 20:
    print("The person is a teenager.")
elif age >= 20 and age < 65:
    print("The person is an adult.")
else:  # age 65 or older
    print("The person is an elder.")

The person is an adult.